 /*Start main rules*/
/*main-color : #3437BC*/
body {
	background-color: #F4F4F4;
	font-size: 16px;
	height: 3000px;
}

h1{
	font-size: 55px;
	margin: 40px 0;
	font-weight: bold;
}


.asterisk{
	font-size: 20px;
	position: absolute;
	right: 20px;
	top:1px;
	color: #3437BC;
}

.main-form .asterisk{
	font-size: 20px;
	position: absolute;
	right: 20px;
	top:1px;
	color: red;
}

.signup .asterisk{
	display: none;
}

.nice-message{
	padding: 10px;
	background-color: #EEE; 	
	margin: 10px 20px;
	border-left: 5px solid #800;
}
/*End main rules*/

/*Start our custom*/

.custom-hr{
	border-top: 1px solid #c9c9c9;
}

/*End our custom*/



/*Start bootstrap edits */


	/* Start navbar edits*/

.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: black;
	border-color: #3437BC;

}


.nav>li>a , .navbar-brand{
	padding:15px 12px;
}

 .navbar-inverse .navbar-nav>li>a{
	color:#DDDDDD;
}


.navbar-inverse .navbar-nav>.open>a,
 .navbar-inverse .navbar-nav>.open>a:focus,
  .navbar-inverse .navbar-nav>.open>a:hover {
    
    background-color: #3437BC;
    box-shadow: 0 0 20px 0px #343777;
}

	/*End navbar edits*/



/*End bootstrap edits */

/*Start upper header(navbar)*/


.upper-bar{
	padding: 10px;
	background-color: black;
	color: white;
	font-size: 18px;
		
}

.upper-bar a{
		text-decoration: none;
}

.upper-bar .avatar{
	width: 35px;
	height: 32px;
	float: left;

	padding: 0px;
    border-color: black;
    width: 45px;
    height: 41px;

}

.upper-bar .avatar:hover{
	width: 100px;
	height: 100px;
}
.upper-bar .uname{	
	padding: 10px;
	position: relative;
	bottom: -4px;

}

.upper-bar .menu-name{
	font-size:18px;
}
.upper-bar .menu-name:hover{
	font-size:20px;
	color: white;
}

.upper-bar .dropdown-menu{
	background-color: black;
	color: white;
	border-color: #3437BC;

	min-width: 200px;
	padding: 0;
	font-size: 1em;  /*1em means one time of its parent*/
	margin: 2px -50px 0px;
}
.upper-bar .dropdown-menu>li>a{
	color:white;
	font-weight: 700px;
	padding: 7px 10px;

}

.upper-bar .dropdown-menu>li>a:hover{
	color:black;
}
.hr-upper-bar{
  border-top: 1px solid #c9c9c9;
  padding: 0px;
  margin: 0px;
}


/*End upper header(navbar)*/


/*Start Login-SignUp page*/


.login-page [data-class="login"].selected{
	color:#337AB7;

}


.login-page [data-class="signup"].selected{
	color:green;

}

.login-page h1{
	color:#DDD;
}

.login-page h1 span{
	cursor:pointer;
}

.login-page .signup{
	display: none;
}

.login-page form{
	max-width:350px;
	margin: auto;

}

.login-page form input{
	margin-bottom: 5px;
}

.login-page form i{
	float: right;
}

.show-pass{
	position: absolute;
	top:0px;
	right: -30px;
	font-size: 25px;
	color:blue;
}

.show-pass:active{
	font-size: 22px;
	color:red;
}

.signup .show-pass{
	font-size: 25px;
	color:green;
}

.signup .show-pass:active{
	font-size: 22px;
	color: red;
}

.success_reg {
	background-color: #DDD;
	border-right:5px solid #050;
	border-left: 5px solid #050;
	
	width: 500px;
    margin-left: 320px;
    margin-top: 20px;
    padding: 1px;
}

/*End Login-SignUp page*/



/*Start categories page*/

.item-box{
	position: relative;
}

.item-box .price-tag{
	background-color: #B4B4B4;
	padding: 2px 10px;
	position: absolute;
	left: 0px;
	top: 10px;
	font-weight: bold;
	color: #FFF;


}


.item-box .caption p{
	height: 44px;
	max-height: 100px;
	overflow: hidden;
}

.item-box .caption h3{
	overflow: hidden;
}

/*End categories page*/


/*Start profile page*/

.information{
	margin: 20px 0 0;
}


.information ul{
	padding: 0px;
	margin: 0px;
}
.information ul li{
	padding: 10px;
}
.information ul li:nth-child(odd){
	background-color: #EEE;
}
.information ul li span{
	display: inline-block;
	width: 120px;
}
.information .btn{
	margin-top: -5px;
	color: white;
	border-color: black;
	background-color: black;			
}

.information .btn:hover{
	border-color:blue;
}

.profile .panel-heading{
background-color: black;

}
.thumbnail .date{
	text-align: right;
	font-size: 13px;
	color:#AAA;
	font-weight: bold;
}

.item-box .approve-status{
	position: absolute;
	top: 40px;
	left:0px;
	background-color: #b85a5a;
	columns: #FFF;
	padding: 3px 5px;

}


/*End profile page*/


/*Start newad page*/
.create-ad .alert-danger{
	margin-top: 5px;
}
/*End newad page*/

/*Start item page*/

.item-info h2{

	padding: 0px 10px ;
	margin: 0px;
}

.item-info p{
	padding: 10px;
}

.item-info ul li{
	padding: 10px;
}

.item-info ul li:nth-child(odd){
	background-color: #CCC;
}
.item-info ul li span{
	display: inline-block;
	width: 120px;
}
.item-info ul li .fa-money{
	color: green;
}

.tags-items a{
	display: inline-block;
	background-color: #e2e2e2;
	padding: 2px 10px;
	border-radius: 5px;
	color: #666;
	margin-right: 5px;
}

.hr-item{
	border-top: 1px solid #c9c9c9;
}

.add-comment h3{
	margin: 0 0 10px;
}
.add-comment textarea{
	display: block;
	margin-bottom: 10px;
	width: 500px;
	height: 100px;
}

.comment-box{
	margin-bottom: 20px;	
}

.comment-box img{
	max-width: 100px;
	margin-bottom: 10px;
}

.comment-box .lead{
	background-color: #e0e0e0;
	position: relative;
	padding: 10px;
	height:1%;	
}

.comment-box .lead:before{
	content: "";
	width: 0;
	height: 0;
	border-width: 15px;
	border-style: solid;
	border-color : transparent #e0e0e0 transparent transparent;
	position: absolute;
	left:-30px;
	top:20px;
}


/*End Item page*/



