body{
    background-color: rgba(0, 0, 0, .9);
    margin: 0;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 1200px;
}

.container1{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.center{
    text-align: center;
    margin: auto;
}
.bg-light{
    background:#f4f4f4;
    color: #333;
}
.bg-dark{
    background:#333;
    color: #f4f4f4;
}

/* Star Showcase */
.showcase::after{
    content: '';
    height: 88vh;
    width: 100%;
    background-image: url("../images/attract-customers-1024x486.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.showcase:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
.showcase:hover .content{
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
}


.showcase .content{
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width:300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}
.showcase .content .logo{
    height: 180px;
    width: 180px;
}
.showcase .content .title{
    font-size: 2.2rem;
    margin-top: 1rem;
}
.showcase .content .text{
    line-height: 1.7;
    margin-top: 1rem;
}

/* End Showcase */

/* Start Services */
.grid-3{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
/* End Services */

/* Start About */
.grid-2{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
/* End About */

/* Start Footer */
footer p{
    margin: 0;
    padding: 2.2rem;
}
/* End Footer */



/* Start Media Query */

@media(max-width:560px){

    .showcase::after{
    height: 50vh;
    }

    .showcase .content{
        top:25%;
        margin-top: 5px;
    }
    .showcase .content .logo{
        height: 140px;
        width: 140px;
    }
    .showcase .content .text{
        display: none;
    }

    .grid-3 , .grid-2{
        grid-template-columns: 1fr;
    }
    
    .services div div{
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }

}


@media(max-height:550px){  /* For landscape screen [flip the screen]*/

    .showcase .content{
        top:5%;
        margin-top: 5px;
    }

     .showcase .content .text {
        display: none;
    }

}
/* End Media Query */