 /*Start main rules*/
/*main-color : #3437BC*/
body {
	background-color: #F4F4F4;
	font-size: 16px;
		
}

h1{
	font-size: 55px;
	margin: 40px 0;
	font-weight: bold;
}

.asterisk{
	font-size: 20px;
	position: absolute;
	right: 20px;
	top:1px;
	color: #3437BC;

}

.nice-message{
	padding: 10px;
	background-color: #FFF;
	margin: 10px 0;
	border-left: 5px solid #080;
}

/*End main rules*/



/*Start login form */

div .img-login{
	height: 200px;
	width: 200px;
    display: inline-block;
    float: left;
    /*margin: 120px auto auto auto;*/

    position: absolute;
	top: 150px;
	bottom: 0;
	left: -500px;
	right: 0;
	margin:0px auto auto auto;
	
	
}

.login{
	width: 350px;
	/*margin: 100px auto auto 10px;*/
	display: inline-block;
	float: left;

	position: absolute;
	top: 250px;
	bottom: 0;
	left: 0;
	right: 0;
	margin:-120px auto auto auto;
}

.login h3{
	color:#3437BC;
}



.login input{
	margin-bottom: 10px;
}

.login .form-control{
	background-color: #F4F4F4;
}

.login .btn{
	background-color:#3437BC;
}


/*End login form */

/*Start bootstrap edits */


	/* Start navbar edits*/

.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: black;
	border-color:black;
	padding: 5px;
	font-size: 20px;
}

.navbar-inverse .navbar-brand{
	font-size: 20px;
	color: blue;
}

.nav>li>a , .navbar-brand{
	padding:15px 12px;
}

 .navbar-inverse .navbar-nav>li>a{
	color:#DDDDDD;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:blue;
}

.navbar-inverse .navbar-nav>.open>a,
 .navbar-inverse .navbar-nav>.open>a:focus,
  .navbar-inverse .navbar-nav>.open>a:hover{
    
    background-color: black;
    box-shadow: 0 0 20px 10px #343777;
}

.dropdown-menu{
	background: #fff;
	min-width: 200px;
	padding: 0;
	font-size: 1em;  /*1em means one time of its parent*/
	margin: 2px -126px 0px;	
}

.dropdown-menu>li>a{
	color:#3437BC;
	font-weight: 700px;
	padding: 10px;

}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    margin-left: 10px;

}

@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    margin-left: 110px;
    margin-top: 10px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    margin-left: 120px;

}

}
	/*End navbar edits*/

	/*Start members page*/
.form-control{
	position: relative;
}
	/*End members page*/



	/*Start bootstap 4 CARD*/

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  /*mine*/
  margin:40px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 2px 2px black;
}

.card:hover {

	text-shadow: 2px 2px blue;			
}

.card-header {
  padding: 1.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  /*mine*/
  
  color: #f6f8f9 !important;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;	 
}


.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;

  /*mine*/
  color:white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-body .btn{
	background-color: black;
	border-color: #DD11DD;
	font-family: Arial, Helvetica, sans-serif;
}


.card-body .btn:hover{
	background-color: darkviolet;
	
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text:last-child {
  margin-bottom: 0;
}



	/*End bootstap 4 CARD*/


/*End bootstrap edits */


/*Start Dashboard page*/

.home-stats .stat{
	padding: 20px;
	font-size: 15px;
	color: #FFF;
	border-radius: 10px;
	font-family: 'Courier Prime', monospace;
	position: relative;
	overflow: hidden;
}

.home-stats .stat i{
	font-size: 80px;
	position: absolute;
	top:35px;
	left:40px;
}

.home-stats .stat .info{
	float : right;
}

.home-stats .stat a{
	color: #FFF;
}

.home-stats .stat a:hover{
	text-decoration: none;
}

.home-stats .stat a:focus{
	text-decoration: none;
}

.home-stats .stat span{
	display: block;
	font-size: 60px;
}

.home-stats .st-members{
	background-color: #8e44ad;
}

.home-stats .st-pending{
	background-color: #1abc9c;
}

.home-stats .st-items{
	background-color: #c0392b;
}

.home-stats .st-pending-c{
	background-color: #1abc9c;
}


.latest{
	margin-top: 30px;
}

.latest .toggle-info{
	color: #999;
	cursor: pointer;
}

.latest .toggle-info:hover{
	color: #3437BC;
	
	
}

.latest-users{
	margin-bottom: 0;
}


.latest-users li{
	padding: 5px;
	overflow: hidden;
}

.latest-users li:nth-child(odd){
	background-color: #EEE;
}
.latest-users li span{
	color : darkred;
}


.latest-users .btn-success{
	padding: 2px 10px;
}


/*End Dashboard page*/




/*Start members page */

.btn-primary{
	background:#3437BC;
}


.show-pass{
	position: absolute;
	top:0px;
	right: -20px;
	font-size: 30px;
	color:blue;
}

.show-pass:active{
	font-size: 27px;
	color:red;
}

.btn{
	margin-top: 2px;
}

.main-table{
	-webkit-box-shadow: 0 3px 12px #DDD;
	-moz-box-shadow: 0 3px 12px #DDD;
	box-shadow: 0 3px 12px #DDD;
	
}
.main-table td{
	background-color: #FFF;
	vertical-align: middle !important;
}

.main-table tr:first-child td{   /*you can use <th> instead of <tr> at the first of the table*/
	background-color: #3437BC; 
	color: #FFF;
	
}

.main-table .btn{
	padding: 3px 10px;
}

.btn-add{	
	background-color: Black;
	color:#3437BC;
	font-weight: bold;
	margin-bottom: 30px;
}

.btn-activate{
	margin-left: 5px;
	background-color: #1abc9c;
	border: 0;
}
/*End members page */


/*Start category page */

.categories .option a{
	color:#999;
	text-decoration: none;

}

.categories .option span{
	color:#999;
	cursor: pointer;
}

.categories .option .active{
	color:#0F0;
	text-decoration: none;
	
}

.categories .panel-body{
	padding: 0;
}

.categories .cat{
	padding: 15px;
	position: relative;
	overflow: hidden;
}

.categories .cat:hover{
	background-color: #EEE;
}

.categories .cat:hover .hidden-buttons{
	right:10px;
}

.categories .cat .hidden-buttons{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	
	position: absolute;
	bottom:10px;
	right: -120px;
}

.categories .cat .hidden-buttons a{
	margin-right: 5px;
}

.categories hr{
	margin : 0px;
}

.categories .cat h3{
	margin : 0px;
	cursor: pointer;
	font-weight: bold;
	color: #6A6A6A;
}

.categories .cat .full-view p{
	margin-top: 10px;
	font-weight: bold;
}

.categories .cat:last-of-type ~ hr{
	display: none;
}

.categories .cat .visibility ,
.categories .cat .commenting ,
.categories .cat .ads{
	color: #FFF;
	background-color: black;
	padding: 5px 10px;
	margin-right: 10px;
	border-radius: 8px;

}

/*End category page */


/*Start item page */

.view-item-btn{
	margin-right: 310px;
	margin-top: -40px;

}

.view-item-btn .btn{
	background:black;
	font-weight: bold;

}

.select-currency{
	margin-top: 2px;	
}	

/*End item page */

/*Start comment page*/
.panel-comment{
	margin-top: 0;
	margin-bottom:2px;
}
.panel-body-comment{
	position: relative;
	overflow:hidden;
}
.panel-body-comment:hover{
	background-color: #AAA;
}

.panel-body-comment:hover .button-comment{
	right:10px;
}

.button-comment{

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

	position: absolute;
	right: -140px;
	top:5px;

}

.button-comment .btn-ap{
	background-color: #1abc9c;
}

.myselect{
	border-radius:10px;
	border-color: #3437Bc;
	padding: 0px;
}	
.myselect option{
	overflow: auto;
}

/*End comment page*/